
.nav {
   display: flex;
   justify-content: center;
   border-bottom: 1px solid grey;
   height: 50px;
   li {
      display: flex;
      list-style: none;
      
   }
   &--active {
      border-bottom: 2px solid grey;
   }
   a {
      font-size: 20px;
      display: block;
      padding: 5px;
      text-decoration: none;
   }
   li:last-child a {
      border-right:none;
   }
}

