.tabs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    &--spaced {
        border-bottom: 1px solid grey;
        justify-content: space-between;
        @media only screen and (max-width: 1024px) {
           border-bottom: none;
        } 
    }
    @media only screen and (max-width: 1024px) {
        flex-direction: column;    
    } 
} 

 